.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 30px;
    row-gap: 60px;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 70px;
    box-sizing: border-box;
}

@media screen and (max-width: 1180px) {
    .cards {
        grid-template-columns: repeat(3, 270px);
    }
}

@media screen and (max-width: 1023px) {
    .cards {
        padding: 0 30px 10px;
        grid-template-columns: repeat(auto-fit, 339px);
        gap: 36px 30px;
    }
}

@media screen and (max-width: 560px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 10px;
        row-gap: 39px;
    }
}
