.portfolio {
    padding: 0 70px 125px;
    box-sizing: border-box;
    width: 100%;
}

.portfolio__title {
    margin: 0;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--text-grey);
}

.portfolio__list {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color-dark-grey);
    height: 69px;
}

.portfolio__link {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: var(--main-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
    text-decoration: none;
    color: var(--white);
}

.portfolio__link:hover {
    opacity: 0.7;
}

.portfolio__link-symbol {
    width: 18px;
    height: 49px;
    margin-right: 6px;
}

@media screen and (max-width: 770px) {
    .portfolio {
        padding: 0 50px 70px;
    }

    .portfolio__title {
        color: var(--color-light-grey);
    }

    .portfolio__link {
        font-size: 28px;
        letter-spacing: -1.12px;
    }

    .portfolio__link-symbol {
        width: 16px;
    }
}

@media screen and (max-width: 560px) {
    .portfolio {
        padding: 0 14px 70px;
    }

    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .portfolio__link-symbol {
        width: 10px;
        height: 27px;
    }

    .portfolio__item {
        height: 48px;
    }

    .portfolio__list {
        margin: 40px 0 0;
    }
}
