:root {
    --white: #fff;
    --black: #000;
    --blue: #4285f4;
    --red: #ee3465;
    --dark-gray: #202020;
    --light-grey: #dadada;
    --green-color: #3ddc84;
    --charcoal-gray: #303030;
    --text-grey: #8b8b8b;
    --bg-color-dark-grey: #2f2f2f;
    --border-color-dark-grey: #424242;
    --bg-сolor-checkbox: #343434;
    --color-light-grey: #a0a0a0;
    --bg-color-grey: #313131;
    --text-red: #ff6838;
    --color-bg-dark-grey: #272727;
    --bg-color-rgba: rgba(0, 0, 0, 0.25);
    --text-profile: transparent;
    --bg-color-disabled: #f8f8f8;
    --color-disabled: #c2c2c2;
    --main-font: "Inter", "Arial", sans-serif;
}
