.nav-tab {
    margin: 151px 0 30px 0;
}

.nav-tab__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
}

.nav-tab__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: var(--white);
    text-decoration: none;
    height: 36px;
    min-width: 96px;
    border-radius: 10px;
    background-color: var(--charcoal-gray);
}

.nav-tab__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 770px) {
    .nav-tab {
        margin: 314px 0 0;
    }
}

@media screen and (max-width: 560px) {
    .nav-tab {
        margin: 212px 0 17px;
    }

    .nav-tab__list {
        column-gap: 6px;
    }

    .nav-tab__link {
        height: 26px;
        min-width: 82px;
        font-size: 10px;
    }
}
